<h2>Contact Me</h2>
<p>
  <a href="mailto:manamikdavidson@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
</p>
<p>
  <a href="https://www.linkedin.com/in/manami-davidson/"><i class="fab fa-linkedin-in"></i></a>
</p>
<p>
  <a href="https://github.com/manami-d"><i class="fab fa-github"></i></a>
</p>