/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
 *= require font-awesome
 */

* {
  background-color: #f4f2ee;
  color: #18442d;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.flex {
  display: flex;
}

.nav-container {
  border-bottom: 1.5px solid #537d8f;
  align-items: center;
}

.left-nav {
  text-align: left;
  align-items: center;
}

.left-nav img {
  width: 10vw;
}

.right-nav {
  width: 89vw;
  display: flex;
  align-items: center;
}
/* .right-nav li {
  margin: 0 2rem;
} */
.right-nav ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: initial;
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

body {
  min-width: 320px;
  width: 100vw;
}

section {
  padding: 1rem;
}

p {
  max-width: 70vw;
  margin: 0 auto;
}

/* h1,
h2 {
  font-family: "Lobster Two", cursive;
} */

h1,
h2 {
  font-family: "Merriweather", serif;
}

.top-image {
  width: 100%;
  background-color: #f4f2ee;
}

.contact-container {
  align-items: center;
  justify-content: space-evenly;
}

footer {
  background-color: #537d8f;
  color: #f4f2ee;
  padding: 1.5rem;
}

/* .carousel-outer-wrapper {
  display: flex;
  height: 75vh;
  width: 100vw;
  overflow-x: scroll;
}
.carousel-inner-wrapper {
  width: 100vw;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.carousel-image {
  height: 150px;
  width: 25vw;
} */

/* tablet */
@media only screen and (min-width: 721px) {
  .top-image {
    width: 50vw;
    background-color: #f4f2ee;
  }
  .left-nav {
    margin-right: auto;
  }
  #main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* desktop */
@media only screen and (min-width: 1200px) {
  .top-image {
    width: 30vw;
    background-color: #f4f2ee;
  }
  .contact-container {
    max-width: 40vw;
    margin: 0 auto;
  }
  .left-nav img {
    width: 5vw;
  }

  .right-nav {
    width: 94vw;
  }
}
